@import "../../scss/variables";

.search-bar {
  max-width: 270px;
  margin-bottom: -41px;
  float: right;
  .clearSearchResults {
    position: absolute;
    right: 10px;
    font-size: 18px;
    top: 7px;
    cursor: pointer;

    &:hover {
      color: #1c4192;
    }
  }
}

.planets-table-per-page-picker {
  line-height: 38px;
  color: $colorText;

  .current-number-of-planets-per-page {
    font-size: 25px;
    font-weight: bold;
  }
}
.name {
  //text-align:center;
  //vertical-align:middle;
  margin: 16px;
}
.see-details {
  color: $colorBackground;
  background-color: $colorPrimary;
  font-size: 14px;
  padding: 8px 15px;
  margin-top: 11px;
  float: right;
  border: thin;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease;

  &:hover {
    background-color: $colorSecondary;
  }
}

.alert-message {
  margin-top: 20px;

  padding: 20px;
}

.table-header {
  h4 {
    margin-top: 10px;
    margin-bottom: -10px;
  }
}

.planets-table-list {
  background-color: rgba(226, 230, 234, 0.79);

  th {
    padding-top: 9px;
  }

  tr {
    border-top: 15px solid white;
    td{
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }
}

@media screen and (min-width: 768px) {
  .planets-table-per-page-picker {
    float: left;
  }
  .planets-table-pagination {
    float: right;
  }
}
