@import "../../scss/variables";

.planet-detail {
  button.back {
    background-color: #fff;
    border: none;
    padding: 0 11px;
    margin: 14px 0;

    //span {
    //  margin: 0 6px 0 0;
    //}

    a {
      margin-bottom: 11px;
      text-decoration: none;
      color: #000;

      &:hover {
        color: #aaaeb2;
      }

      i {
        margin-top: -6px;
      }
    }

    &:hover * {
      color: $colorText
    }
  }
}

.planet-details-container {
  margin-bottom: 51px;
  margin-top: -61px;
  border-style: none;

  .list-details {
    .list-group-item {
      background: rgba(226, 230, 234, 0.79);
      border-radius: 11px;
      .planet-image {
        width: 150px;
      }
    }
  }
}
