@import "scss/variables";


@font-face {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #D2D2D2;
}

a:link {
  color: blue;
  font-style: italic;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: $colorText;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  //color: darkblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


.input-group {
  input.form-control {
    background-color: $colorBackground;
    border-color: $colorBorder;
    color: $colorText;
  }

  input.form-control:focus {
    --webkit-box-shadow: none;
    box-shadow: none;
  }

  div.input-group-append {
    span.input-group-text {
      background-color: $colorBackground;
      border-color: $colorBorder;
      color: $colorText;
    }
  }
}

ul.pagination {
  li.page-item {


    a.page-link {
      background-color: $colorBackground;
      border-color: $colorBorder;
      color: $colorText;
      font-style: normal !important;
    }

    a.page-link:focus {
      --webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  li.page-item.active {
    a.page-link {
      background-color: #D2D2D2;
      border-color: $colorBorder;
      color: black;
      font-weight: bold;
    }

    a.page-link:focus {
      --webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.card {
  background-color: $colorBackground;
  border-color: $colorBorder;
  color: white;
}

ul.list-group {
  li {
    background-color: #CDD1D5;
    border-color: $colorBorder;
    color: $colorText;

    a {
      color: #D4AF37;
    }
  }
}

.clickable {
  cursor: pointer;
}

.float-right {
  float: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.small-margin-left {
  margin-left: 5px;
}
